@media only screen and (max-width: 600px){ #homeimage{
display:inline-block;
}
}

@media only screen and (max-width: 600px){ .collapse{
    display:none;
    }
    }

    @media only screen and (max-width: 600px){.hanging{
        display:none;
    }
}

@media only screen and (max-width:600){.hanging {
    display:none;
}
}

@media only screen and (max-width: 600px){#searchbar{
    display:none;
}
}

@media only screen and (max-width: 600px){#navmenu .links {
    display: block;
    float: left;
    padding-right:0 0 0 0;
    margin: 0 0 0 0;
}
}

@media only screen and (max-width: 600px){#navmenu{
    display: inline;
}
}

@media only screen and (max-width: 600px){ol {
    display: inline-block;
}
}
   
   @media only screen and (max-width: 600px) {#professional{
       display: block;
       padding-top:100px;
       padding-bottom:100px;
      }
      }

@media only screen and (max-width: 600px){#extra{
    display: inline;
}
}

@media only screen and (max-width: 800px){#homeimage{
    display:none;
    }
    }
    

@media only screen and (max-width: 800px) {#personal1{
    display: none;
    float: left
   }
   }

@media only screen and (max-width: 600px){#footer{
    display: flex;
    width: auto;
}
}

@media only screen and (max-width: 800px){#footer{
    margin-top:1000px;
    display: flex;
    width: auto;
}
}

@media only screen and (max-width: 800px){.hanging{
    display:none;
}

@media only screen and (max-width: 800px) {#personal1{
 display: flex block;
 float: left
}
}

@media only screen and (max-width: 800px) {#professional{
    display: block;
    padding-top:100px;
    padding-bottom:100px;
   }
   }

   @media only screen and (max-width: 800px) {#bio{
    display: block;
    padding-top:100px;
   }
   }

   @media only screen and (max-width: 800px) {#welcome{
    display: block;
    padding-top: 325px;
   }
   }

   @media only screen and (max-width: 800px) {.evideo{
    display: block;
    width: 675px;
    height: 800px;
   }
   }
   @media only screen and (max-width: 800px) {#video{
    display: block;
    border-block-start: auto;
    border-block-end-width: auto;
    border-block-end:auto;
    padding-bottom: -300px
   }
   }
   
   @media only screen and (max-width: 800px) {.ppt{
       display: block;
       margin-left:300px
   }
}

@media only screen and (max-width: 800px) {#extra{
    padding-top:75px;
    display: inline-block;
    text-align: center;
    margin-left:100px;
}
}

@media only screen and (max-width: 800px) {.resources{
    display: block;
    text-align: center;
    padding-bottom:100px;
}
}

@media only screen and (max-width: 800px){#additional{
display:inline-block;
margin-bottom:-700px;
}
}
}