@media only screen and (max-width: 600px){ #homeimage .collapse{
display:none;
}
}

@media only screen and (max-width: 600px){ .collapse{
    display:none;
    }
    }

    @media only screen and (max-width: 600px){.hanging{
        display:none;
    }
}

@media only screen and (max-width:600){.hanging {
    display:none;
}
}

@media only screen and (max-width: 800px){.hanging{
    display:none;
}


@media only screen and (max-width: 800px) {#professional{
    display: inline-block;
}
}
}

@media only screen and (max-width: 800px) {#personal1{
 display: flex block;
 float: left
}
}

@media only screen and (max-width: 800px) {#professional{
    display: block;
    padding-top:600px;
   }
   }

   @media only screen and (max-width: 600px){#searchbar{
    display:none;
}
}

@media only screen and (max-width: 600px){#navmenu .links {
    display: block;
    float: left;
    padding-right:0 0 0 0;
    margin: 0 0 0 0;
}
}

@media only screen and (max-width: 600px){#navmenu{
    display: inline;
}
}

@media only screen and (max-width: 600px){ol {
    display: inline-block;
}
}

@media only screen and (max-width: 600px){#extra{
    display: inline;
}
}